.section--contact {
	color: rgba(#fff, 0.9);
	margin-top: 80px;
	padding: 50px 20px;
	background-color: $soft-blue;

	&__wrapper {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}

	&__smallprint {
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 2.5px;
		margin-bottom: 15px;
		@include mq($breakpoint) {
			margin-bottom: 25px;
		}
	}

	&__title {
		color: rgba(#fff, 0.9);
		line-height: 1.3;
		margin-bottom: 15px;
		@include mq($breakpoint) {
			font-size: 32px;
			margin-bottom: 30px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		@include mq($breakpoint) {
			flex-direction: row;
			padding: 0 20px;
		}
	}

	&__input {
		padding: 13px 15px;
		border: none;
		border-radius: 6px;
		font-family: inherit;
		outline: none;
		margin-bottom: 15px;
		@include mq($breakpoint) {
			margin-bottom: 0;
			flex: 1;
			margin-right: 15px;
		}
	}
}
