.footer {
	background-color: $very-dark-blue;
	padding: 30px;
	&__nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include mq($breakpoint) {
			flex-direction: row;
		}
	}

	&__logo {
		path {
			fill: #fff;
		}
		margin-bottom: 20px;
		@include mq($breakpoint) {
			margin-bottom: 0;
			display: flex;
			margin-right: 50px;
		}
	}

	&__list {
		margin-bottom: 20px;
		@include mq($breakpoint) {
			margin-bottom: 0;
			display: flex;
		}
	}

	&__item {
		a {
			color: rgba(#fff, 0.8);
			text-transform: uppercase;
			letter-spacing: 1.5px;
			@include mq($breakpoint) {
				font-size: 13px;
				&:hover {
					color: $soft-red;
				}
			}
		}
		margin-bottom: 15px;
		text-align: center;
		@include mq($breakpoint) {
			margin-bottom: 0;
			margin-right: 20px;
		}
	}

	&__social {
		@include mq($breakpoint) {
			margin-left: auto;
		}
	}

	&__social-icon {
		@include mq($breakpoint) {
			&:hover * {
				fill: $soft-red;
			}
		}
	}

	&__social-icon:first-child {
		margin-right: 30px;
	}
}
