.footer {
	background-color: $very-dark-blue;
	padding: 30px;
	&__nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		path {
			fill: #fff;
		}
		margin-bottom: 20px;
	}

	&__list {
		margin-bottom: 20px;
	}

	&__item {
		a {
			color: rgba(#fff, 0.8);
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}
		margin-bottom: 15px;
		text-align: center;
	}

	&__social-icon:first-child {
		margin-right: 30px;
	}
}
