/**
 * Buttons
 */

//==============================================================================
// Buttons
//==============================================================================

.btn {
	font-family: inherit;
	border: 2px solid;
	font-weight: 500;
	cursor: pointer;
	padding: 8px 15px;
	border-radius: 5px;
	transition: all 250ms ease-in;
	line-height: 1.7;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn--primary {
	background-color: $soft-blue;
	border-color: $soft-blue;
	color: rgba(255, 255, 255, 0.9);
	@include mq(800px) {
		&:hover {
			background-color: transparent;
			color: $soft-blue;
		}
	}
}

.btn--secondery {
	background-color: #f9f9f9;
	border-color: #f9f9f9;
	color: rgba(0, 0, 0, 0.9);
	@include mq(800px) {
		&:hover {
			border-color: $very-dark-blue;
		}
	}
}

.btn--submit {
	border: none;
	background-color: $soft-red;
	color: #fff;
	border-radius: 6px;
}
