.tabs {
	margin-top: 40px;

	&__btn {
		position: relative;
		font-family: inherit;
		width: 100%;
		font-size: 17px;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		color: $grayish-blue;
		padding: 20px 0;
		font-weight: 500;
		cursor: pointer;
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 200px;
			transform: translateX(-50%);
			height: 4px;
			background-color: #fff;
			@include mq($breakpoint) {
				width: 100%;
			}
		}
		&.active {
			color: $very-dark-blue;
			&::after {
				background-color: $soft-red;
			}
		}
	}

	&__navigation {
		margin-bottom: 30px;
		@include mq($breakpoint) {
			display: flex;
			max-width: 800px;
			margin: 0 auto 70px;
		}
	}

	&__content-wrapper {
		display: none;

		&.active {
			display: block;
		}
	}

	&__img-wrapper {
		margin-bottom: 90px;
		@include mq($breakpoint) {
			display: flex;
			justify-content: flex-end;
			width: 50%;
			margin-bottom: 0;
		}
	}

	&__content {
		@include mq($breakpoint) {
			display: flex;
			align-items: flex-start;
		}
	}

	&__text-wrapper {
		@include mq($breakpoint) {
			text-align: left;
			margin-left: 120px;
		}
		@include mq(1150px) {
			margin-top: 60px;
		}
	}
}
